{% extends 'glowny.html' %}

{% block tytul %}Lista filmow{% endblock %}

{% block strona %}


    {% if user.is_authenticated %}
    <p>Witaj, {{ user.username }}!</p>
<a href="{% url 'logout' %}" class="logout-button">Wyloguj</a>
{% else %}
    <p>Nie jesteś zalogowany.</p>
    <a href="{% url 'login' %}" class="logout-button">Zaloguj sie</a>
{% endif %}
</p>

<h3>Dodaj Film: </h3>
<a href="{% url 'nowy_film' %}">Dodaj Film</a>

{% if film_z_rokiem|length == 0 %}
    <h2>Brak Filmow</h2>
{% elif film_z_rokiem|length >= 0 %}

   <h2> Oto filmy mojej aplikacji </h2>
    <h3>{{text}}</h3>

<h3>Filmy z modelu:</h3>
{% for film in film_z_rokiem %}
    <h3>{{film}}</h3>
    <p>{{film.opis}}</p>
<a href="{% url 'edytuj_film' film.id %}">Edytuj</a>
<a href="{% url 'usun_film' film.id %}">Usuń</a>
{% endfor %}

<h2>Ilosc filmow w bazie danych: {{ film_z_rokiem|length}}</h2>

{% endif %}
{% endblock %}